#### Imports:

In [92]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext

from pyspark.sql.functions import (
    udf, col, when, asc, desc, lit, coalesce,
    mean, sum, avg, rand, stddev,
    count, countDistinct,
    format_number, isnan,
    asc, desc, mean, 
    rank, lag, lead,
)
from pyspark.sql.window import Window

from pyspark.sql.types import (
    StructField, StructType, LongType, TimestampType,
    StringType, IntegerType, 
    FloatType, BooleanType,
    DateType,
)

In [93]:
import pyspark, datetime, os
import numpy as np, pandas as pd, matplotlib.pyplot as plt
%matplotlib inline

In [96]:
# dir(pyspark.sql)

In [83]:

# pyspark.__version__

In [84]:
# JDBC URL format: jdbc:mysql://<host>:<port>/<db-name>
# jdbc_url = "jdbc:mysql://localhost:3306/interview_questions"
jdbc_url = "jdbc:mysql://localhost:3306"
mysql_driver = f"{os.environ['SPARK_HOME']}/jars/mysql-connector-j-8.0.32.jar"

# Connection properties
connection_properties = {
    "user": "Shah",
    "password": "shah711409",
    "driver": "com.mysql.cj.jdbc.Driver"
}

In [85]:
# Initialize Spark Session
spark = SparkSession.builder \
    .appName("Data Ingestion from MySQL into  Spark") \
    .config("spark.sql.shuffle.partitions", "2") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "2g") \
    .config("spark.jars", mysql_driver) \
    .getOrCreate()

In [86]:
# # Reading table from MySQL
emp_df = spark.read.jdbc(url=jdbc_url+'/IQ', table="Employees", properties=connection_properties)
# dept_df = spark.read.jdbc(url=jdbc_url, table="Department", properties=connection_properties)

# # Show the DataFrame content
emp_df.show()

+---+----------+---------+--------------------+--------------------+----------+------+
| id|first_name|last_name|        joining_date|               email|department|salary|
+---+----------+---------+--------------------+--------------------+----------+------+
|  0|     Scott|     NULL|                    |                  na|        IT|123286|
|  6|   Michael|  Edwards|java.util.Gregori...|rmccarthy@example...|     Sales|111785|
|  1|          |       na|java.util.Gregori...|melanieporter@exa...|      NULL| 60983|
|  7|    Robert|  Stewart|java.util.Gregori...|                    |   Finance|107104|
|  8|     Julie|       na|java.util.Gregori...|johnnymoran@examp...|          |135630|
|  2|    George|    Nunez|                NULL|                    |   Finance| 90512|
|  9|  Kimberly|   Weaver|java.util.Gregori...|gjenkins@example.com| Marketing| 91549|
|  3|    Brenda|         |                    |diazdavid@example...|      NULL| 68834|
|  4|   Zachary|  Simmons|java.util.Gregori...|                NULL|      NULL|142072|
|  5|   Abigail|    Perez|java.util.Gregori...|                    |   Finance|      |
+---+----------+---------+--------------------+--------------------+----------+------+

In [87]:
# emp_df.toPandas()

#### Create a View And Run Queries

In [88]:
emp_df.createOrReplaceTempView("emp_df_view")

In [89]:
spark.sql("SELECT * FROM emp_df_view LIMIT 2").show()

+---+----------+---------+--------------------+--------------------+----------+------+
| id|first_name|last_name|        joining_date|               email|department|salary|
+---+----------+---------+--------------------+--------------------+----------+------+
|  0|     Scott|     NULL|                    |                  na|        IT|123286|
|  6|   Michael|  Edwards|java.util.Gregori...|rmccarthy@example...|     Sales|111785|
+---+----------+---------+--------------------+--------------------+----------+------+

# `Stop` SparkSession

In [90]:
# Stop Spark Session
spark.stop()